@model ReportingData

@{
    ViewData["Title"] = "Reports";
}
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<h1>Reports</h1>

<div id="listCompletedChart" style="height: 300px; width: 100%;"></div>

<div id="listItemsCompletedChart" style="height: 300px; width: 100%;"></div>

<div style="display: flex; justify-content: space-between;">
    <div class="square-container">
        <div class="reporting-box-header">Total Lists Completed</div>
        <div class="reporting-box-content">@Model.TotalListsCompleted</div>
    </div>
    <div class="square-container">
        <div class="reporting-box-header">Total Time Spent (mins)</div>
        <div class="reporting-box-content">@Model.TotalTimeSpent</div>
    </div>
    <div class="square-container">
        <div class="reporting-box-header">Total Estimated Time (mins)</div>
        <div class="reporting-box-content">@Model.TotalEstimatedTime</div>
    </div>
    <div class="square-container">
        <div class="reporting-box-header">Total List Items Not Started</div>
        <div class="reporting-box-content">@Model.ListItemsNotStartedCount</div>
    </div>
    <div class="square-container">
        <div class="reporting-box-header">Total List Items In Progress</div>
        <div class="reporting-box-content">@Model.ListItemsInProgressCount</div>
    </div>
    <div class="square-container">
        <div class="reporting-box-header">Total List Items Completed</div>
        <div class="reporting-box-content">@Model.ListItemsCompletedCount</div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("listCompletedChart", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "ToDo Lists Completed"
            },
            subtitles: [
                { text: "Daily" }
            ],
            axisX: {
                title: "Date",
                interval: 1,
                intervalType: "day"
            },
            axisY: {
                title: "Count",
                interval: 1
            },
            data: [
            {
                type: "column",
                xValueType: "dateTime",

                dataPoints: @Html.Raw(Model.ListsCompletedDataPoint),
            }
            ]
        });
        var listItemChart = new CanvasJS.Chart("listItemsCompletedChart", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "List Items Completed"
            },
            subtitles: [
                { text: "Daily" }
            ],
            axisX: {
                title: "Date",
                interval: 1,
                intervalType: "day"
            },
            axisY: {
                title: "Count",
                interval: 1
            },
            data: [
            {
                type: "column",
                xValueType: "dateTime",

                dataPoints: @Html.Raw(Model.ListItemsCompletedDataPoint),
            }
            ]
        });
        listItemChart.render();
        chart.render();
    };
</script>