@model ReportingData

@{
    ViewData["Title"] = "Reports";
}
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<h1>Reports</h1>

<div id="listCompletedChart" style="height: 300px; width: 100%;"></div>

<div id="listItemsCompletedChart" style="height: 300px; width: 100%;"></div>

<div>Total Lists Completed: @Model.TotalListsCompleted</div>
<div>Total Time Spent: @Model.TotalTimeSpent</div>
<div>Total Esimated Time: @Model.TotalEstimatedTime</div>
<div>Total List Items Not Started: @Model.ListItemsNotStartedCount</div>
<div>Total List Items In Progress: @Model.ListItemsInProgressCount</div>
<div>Total List Items Completed: @Model.ListItemsCompletedCount</div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("listCompletedChart", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "ToDo Lists Completed"
            },
            subtitles: [
                { text: "Daily" }
            ],
            axisX: {
                title: "Date",
                interal: 1,
                intervalType: "day"
            },
            axisY: {
                title: "Count"
            },
            data: [
            {
                type: "column",
                xValueType: "dateTime",

                dataPoints: @Html.Raw(Model.ListsCompletedDataPoint),
            }
            ]
        });
        var listItemChart = new CanvasJS.Chart("listItemsCompletedChart", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "List Items Completed"
            },
            subtitles: [
                { text: "Daily" }
            ],
            axisX: {
                title: "Date",
                interal: 1,
                intervalType: "day"
            },
            axisY: {
                title: "Count"
            },
            data: [
            {
                type: "column",
                xValueType: "dateTime",

                dataPoints: @Html.Raw(Model.ListItemsCompletedDataPoint),
            }
            ]
        });
        listItemChart.render();
        chart.render();
    };
</script>